<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.av.benzandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".functions.core.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".models.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- sample for live google map -->
         <meta-data
         android:name="com.google.android.maps.v2.API_KEY"
         android:value="AIzaSyC19Mc6alM6jX0RJ4-IwiZ_cTF15CsqlhE" />


        <!-- sample for debug google map -->
        <!--<meta-data-->
            <!--android:name="com.google.android.maps.v2.API_KEY"-->
            <!--android:value="AIzaSyCukctAbVDQHZMLPh6J3LrL4sWj051IycE" />-->

        <activity android:name=".models.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".models.fragments.ContactUsFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".models.activity.BlogOneActivity" />
        <activity android:name=".models.activity.BlogTwoActivity" />
        <activity android:name=".models.activity.WriteMessageActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="89bc3dbbfe1de6c6da190923ba110735ea54a999" />
    </application>

</manifest>